.ContainerHome {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
}

.Nav {
  background-color: #1f53c5;
  margin: 0;
  height: 6vh;
}

.Filters {
  background-color:#1f53c5;
  height: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.Cards {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
}

.button-paginate {
  background-color: #1f53c5;
  color:white;  
  border-radius: 20px 20px 20px 20px;
  height: 28px;
  width: 28px;
  margin: 1px;
  padding: 0px;
}

.home-select {
  border: 1px solid #1f53c5;
  border-radius: 5px;
  color: #1f53c5;
  background-color: white;
  padding: 6px;
  font-size: 16px;
}

.search-danger {
  width: 30%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid red;
  font-size: 18px;
  padding: 6px;
}

.search-inputs {
  width: 30%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #1f53c5;
  font-size: 18px;
  color: black;
  padding: 6px;
}

.search-button {
  width: 10%;
  border: none;
  border-radius: 20px;
  color: #1f53c5;
  background-color: white;
  margin-left: 12px;
  padding: 8px;
  font-size: 16px;
}

.create-button {
  width: 10%;
  border: none;
  border-radius: 20px;
  color: #1f53c5;
  background-color: white;
  margin-left: 385px;
  padding: 8px;
  font-size: 16px;
}