.ContainerHome {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0;
}

.Nav {
  background-color: green;
  margin: 0;
  height: 8vh;
}

.Filters {
  background-color: yellow;
  height: 7vh;
}

.Cards {
  background-color: white;
  height: 77vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Paginate {
  background-color: blue;
  height: 8vh;
}