.search-container{
  padding-bottom: 24px;
}

.search-inputs{
  width: 40%;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
  color: black;
}

.search-button{
    width: 15%;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #1f53c5;
  padding:12px;
  margin: 16px 0;
  font-size: 16px;
}